.header{
    height: 60px;
    display : flex;
    align-items: center;
    background-color:black;
    justify-content: center;
    position:sticky;
    top:0;
    z-index:100;
   
}

.header__text{
    color:khaki;
    margin-left: 10px;
    padding-right: 60px;
}

.header__image{
    max-height: 60px;
    max-width: 100px;
    opacity: 1;
}